# 【编辑器配置文件】
root = true

[*]
charset = utf-8
indent_style = space # 【基于空格的风格】      
indent_size = 2 # 【间隔大小是2个】
end_of_line = lf
insert_final_newline = true # 【创建目录自动最后插入一个新行】
trim_trailing_whitespace = true # 【true时表示自动移除行尾空格】
